.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
./README.html
.nb.html

### Martin
## Docs
# Gruppe 2
Gruppe\ 2/docs/*.Rmd

# Gruppe 3
Gruppe\ 3/docs/*.Rmd

## Data
# Gruppe 2

# Gruppe 3

## Ekstraoppgaver
# Gruppe 2
Gruppe\ 2/ekstraoppgaver/*.Rmd

# Gruppe 3
Gruppe\ 3/ekstraoppgaver/*.Rmd

# Prøve
# Gruppe 2
Gruppe\ 2/prove/*

# Gruppe 3
Gruppe\ 3/prove/*

## Scripts
# Gruppe 2
Gruppe\ 2/scripts/ekstra/*

# Gruppe 3
Gruppe\ 3/scripts/ekstra/*

