.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
./README.html
.nb.html

### Martin
## Docs
# Gruppe 2
Gruppe\ 2/docs/*.Rmd

# Gruppe 3
Gruppe\ 3/docs/*.Rmd

## Data
# Gruppe 2

# Gruppe 3

## Ekstraoppgaver
# Gruppe 2
Gruppe\ 2/ekstraoppgaver/*.Rmd

# Gruppe 3
Gruppe\ 3/ekstraoppgaver/*.Rmd

# Prøve
# Gruppe 2
Gruppe\ 2/prove/*

# Gruppe 3
Gruppe\ 3/prove/*

## Scripts
# Gruppe 2
Gruppe\ 2/scripts/ekstra/*

# Gruppe 3
Gruppe\ 3/scripts/ekstra/*


### Lise
## Docs
# Forberedelser 2020
H20-seminarer/Innføringsseminarer/docs/seminarer/forberedelser/*

# HTML-filer
H20-seminarer/Innføringsseminarer/docs/seminarer/seminar1_files/*
H20-seminarer/Innføringsseminarer/docs/seminarer/seminar2_files/*
H20-seminarer/Innføringsseminarer/docs/seminarer/seminar3_files/*
H20-seminarer/Innføringsseminarer/docs/seminarer/seminar4_files/*
H20-seminarer/Fordypningsseminarer/docs/Fordypningsseminar-1-Paneldata_files/*
H20-seminarer/Fordypningsseminarer/docs/Fordypningsseminar-2-Flernivaa_files/*
H20-seminarer/Fordypningsseminarer/docs/Fordypningsseminar-3-Faktoranalyse_files/*
H20-seminarer/Innføringsseminarer/docs/html/*
H20-seminarer/Innføringsseminarer/docs/html/seminarer/*

# Fra tidligere:
# Har endret mappestruktur så skjuler denne igjen:
Materiell fra tidl semestre/h18/h17/Gruppe 2/